html,
body {
  cursor: url("./assets/cursor.png") 3 3, pointer;
  margin: 0;
  background: #646464;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
